<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <title>News APP</title>

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/{{css}}.css">

</head>
<body>
<header>
    
</header>
<main>
    {{{body}}}
</main>
</body>
</html>