
{{#articles}}
    <a class="article" href="article/{{id}}">
        <h1>{{heading}}</h1>
        <img class="image" src="{{image}}">
        <p class="teaser">
            {{teaser}}
        </p>
    </a>
{{/articles}}